:host {
    display: block;
    --pokemon-card-width: 200px;
    --pokemon-card-gap: calc(var(--pokemon-card-width) * 0.1);
    margin-left: var(--pokedex-section-side-margin, 0%);
    margin-right: var(--pokedex-section-side-margin, 0%);
}

.pokemon-card-list {
    display: grid;
    gap: var(--pokemon-card-gap);
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--pokemon-card-width)*1.1), 1fr));
    align-items: stretch;
    justify-items: center;
}

.pokemon-card {
    min-width: var(--pokemon-card-width);
}
